{
margin: 0;
padding:0;
border:none;
}
body{
background-image: url(../Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: fit;
  /* width: 100%;
  height: 700px; */

}
.inter-Logo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: 34;
    font-weight: 900; 
    font-style: normal;
    color: #4E47FF;
    margin-left: 150px;
    /* margin: 50px 1191px 0 150px; */
}

.Sign-up-button {
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: 500;
    font-weight: bold;
    font-style: 700;
    color: white;
    border: none;
    border-radius: 5px;
    width: 132px;
    height: 36px;
    margin-right: 215px;
    /* margin: 50px 1191px 0 150px; */
}
.Stay-Focused-button {
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: 500;
    font-weight: bold;
    font-style: 700;
    color: white;
    border: none;
    border-radius: 5px;
    width: 174px;
    height: 36px;
    margin: 37px 633px 152px 633px ;
    margin-top: 0;
    /* margin: 50px 1191px 0 150px; */
}
.banner-title{
    font-family: "Raleway", sans-serif;
    font-size: 65;
    font-weight: bold;
    margin: 309px 267.5px 152px 267.5px; 
    text-align: center;
    margin-bottom: 37px;
}
/* .banner {
 background-image: url(../Hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  padding: 20px;
   background-size: auto;
   background-repeat: no-repeat;
} */
/* .bk-img{
    height: 400px;
    padding: 30px 40px;
    background-image: url(../Hero-bg.png);
    text-align: center;
} */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50 1191 0 150;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
.no-bullet{
  list-style-type: none;
}

.centered {
    position: absolute;
    top: 309px;
    left: 267.5px;

}

h1 {
    font-size: 40px;
}

.top-left {
    position: absolute;
    top: 50px;
    left: 150px;

}

/* .header-secondary-image{ */
/* background-image: url(../Hero-bg.png); */